@charset "UTF-8";
/*
Name: 			theme-elements.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	9.5.0
*/
/* Accordion */

p{
	text-align: justify !important;
}

/* Animations */
.appear-animation {
	opacity: 0;
}

/* Transitions */

/* Transition Magnetic */

/* Translate Animations */

/* Opacity Animations */

/* Side Header Arrow Animations */

/* Mask Up */

/* Mask Right */

/* Mask Down */

/* Mask Left */

/* Fade In Up Shorter */

/* Fade In Up Shorter Plus */

/* Buttons */
.btn {
	font-size: 12.8px;
	font-size: 0.8rem;
	padding: 8.528px 14.928px;
	padding: 0.533rem 0.933rem;
	cursor: pointer;
	font-weight: 600;
}

.btn.btn-py-3 {
	padding-top: 20px;
	padding-top: 1.25rem;
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
}

html body .btn:focus,
html body .btn:active {
	box-shadow: none !important;
}

/* Dropdown Buttons */

/* Default */

/* Outline */

/* Modern */
.btn-modern {
	text-transform: uppercase;
	font-size: .8em;
	padding: 12.8px 24px;
	padding: 0.8rem 1.5rem;
	font-weight: 600;
}

/* Rounded */
.btn-rounded {
	border-radius: 35px;
}

/* Rounded */

/* 3d */

/* Arrow */

/* Swap */

/* Icons	*/

/* Dropdown Button */

/* Colors */

.btn-dark {
	background-color: #212529;
	border-color: #212529 #212529 #0a0c0d;
	color: #FFF;
}

.btn-dark:hover {
	background-color: #32383e;
	border-color: #383f45 #383f45 #212529;
	color: #FFF;
}

.btn-dark:focus {
	box-shadow: 0 0 0 3px rgba(33, 37, 41, 0.5);
}

.btn-dark:disabled {
	background-color: #212529;
	border-color: #212529 #212529 #0a0c0d;
}

.btn-dark:active {
	background-color: #101214;
	background-image: none;
	border-color: #0a0c0d #0a0c0d black;
}

/* Button Light */
html body .btn-light {
	border-color: #d9d9d9 #d9d9d9 #bfbfbf;
	color: #777;
}

/* Owl Carousel */
.owl-carousel {
	display: block;
	margin-bottom: 20px;
	opacity: 0;
		/* Remove Nav */
		/* Show Nav Hover */
		/* Show Nav Title */
		/* Rounded Nav */
		/* Nav Bottom */
		/* Nav Bottom Inside */
		/* Nav Inside */
		/* Nav Outside */
		/* Nav Position */
		/* Nav Icon */
		/* Nav Size */
		/* Nav Styles */
		/* Dots */
		/* Image Thumbnail */
}

.owl-carousel:not(.owl-loaded):not(.owl-carousel-light) > div {
	display: none;
}

.owl-carousel:not(.owl-loaded):not(.owl-carousel-light) > div:first-child {
	display: block;
}

/* Right Side Nav */
.owl-carousel.carousel-right-side-nav {
	width: calc( 100% - 55px);
}

/* Bottom Inside Shadow */

/* Hover Items with Opacity */
.owl-carousel [class*="opacity-"]:not([class*="opacity-hover"]) {
	transition: ease opacity 300ms;
}

.owl-carousel [class*="opacity-"]:not([class*="opacity-hover"]):hover {
	opacity: 1 !important;
}

/* Carousel Sync */

/* Spaced */

/* Testimonials */

/* Responsive */

/* Carousel Half Full Width */

/* Carousel Areas */

/* Responsive */

/* Carousel Center Active Item */

/* Carousel Center Active Item 2 */

/* Carousel Center Active Item 3 */

/* Owl Carousel Performance */

/* Cascading Images */

/* Countdown */

/* Counters */


.form-label-group input:not(:-ms-input-placeholder) ~ label {
	padding-top: 4px;
	padding-top: .25rem;
	padding-bottom: 4px;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
}

/* Form Squared Borders */

/* Form With Icons */

/* Form Fields Rounded */

/* Form With Shadow */

/* Form Fieds Size - Global class to increase size of form controls */

/* Form Fieds Font Size - Global class to increase font size of form controls */

/* GDPR */

/* Headings */
h1, h2, h3, h5 {
	color: #212529;
	font-weight: 200;
	letter-spacing: -.05em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 2.6em;
	line-height: 44px;
	margin: 0 0 32px 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

h3 {
	font-size: 1.8em;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 33px;
	text-transform: uppercase;
}

h5 {
	font-size: 1em;
	font-weight: 600;
	line-height: 18px;
	margin: 0 0 14px 0;
	text-transform: uppercase;
}

.box-shadow-3:not(.box-shadow-hover) {
	box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.45);
}

/* Page Transition */
body[data-plugin-page-transition] {
	transition: ease opacity 300ms;
}

/* 
Image 360º Viewer
Credits: Codyhouse (https://codyhouse.co/gem/360-degrees-product-viewer)
*/

/* Payment CC */

/* ElevateZoom Fix */

/* PORTO Big Title */

/* Animated Letters */

/* Animated Letters - Type Writer Effect */

/* Read More Rendered (JS Plugin) */

/* Style Switcher Open Loader Button */

/* Envato Buy Redirect and Demos */

/* Video */

/* Cursor Effect */

/* Simple Copy To Clipboard */

/* Popup */

/* Nav */
.nav > li > a {
	text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background: transparent;
	text-decoration: none;
}

/* Nav List */

ul.nav-pills > li > a.active {
	color: #FFF;
	background-color: #CCC;
}

ul.nav-pills > li > a.active:hover, ul.nav-pills > li > a.active:focus {
	color: #FFF;
	background-color: #CCC;
}

/* Nav Pills */

/* Nav Light */

/* Nav Active Style - Active Bottom Border */

/* Nav Secondary */

/* Boxed */

/* Section Scroll - Dots Navigation */

/* Overlays */
.overlay {
	position: relative;
		/* Backward */
}

.overlay:before {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: #212529;
	opacity: 0;
	pointer-events: none;
	transition: ease opacity 300ms 100ms;
}

.overlay:hover:before, .overlay.overlay-show:before {
	opacity: 0.8;
}

.overlay.overlay-op-2:hover:before, .overlay.overlay-op-2.overlay-show:before {
	opacity: 0.2;
}

.overlay.overlay-op-7:hover:before, .overlay.overlay-op-7.overlay-show:before {
	opacity: 0.7;
}

.overlay .container {
	position: relative;
	z-index: 3;
}

/* Overlay Colors */

/* Overlay Gradient Bottom Content */

/* Overlay Gradient Top Content */

/* Overlay Gradient */

/* Parallax */

/* Pricing Tables */

/* Pricing Block Style */

/* Price Menu */

/* Process */

/* Scroll to Top */

/* Responsive */

/* Scrollable */

/* Section Featured */
section.section {
	background: #f7f7f7;
	border-top: 5px solid #f1f1f1;
	margin: 30px 0;
	padding: 50px 0;
}

section.section.section-height-5 {
	padding: 147.692px 0;
	padding: 9.2307692308rem 0;
}

section.section.section-angled {
	position: relative;
	margin: 0;
	overflow: hidden;
}

section.section.section-angled .section-angled-layer-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 48px 0;
	padding: 3rem 0;
	transform: skewY(-0.7deg) translate3d(0, -50%, 0);
}

section.section.section-angled .section-angled-layer-top + .section-angled-content {
	margin-top: 40px;
	margin-top: 2.5rem;
}

section.section.section-angled .section-angled-layer-increase-angle.section-angled-layer-top {
	transform: skewY(-1.7deg) translate3d(0, -50%, 0);
}

section.section.overlay .section-angled-layer-bottom {
	z-index: 99 !important;
}


/* Side Header - Full Screen Slider Height On Mobile */

/* Social Icons */
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 0 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
}

.social-icons li a {
	transition: all 0.2s ease;
	border-radius: 100%;
	display: block;
	height: 28px;
	line-height: 28px;
	width: 28px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
	font-size: 12.8px;
	font-size: 0.8rem;
}

.social-icons li:hover a {
	background: #151719;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1 !important;
}

.social-icons li:hover.social-icons-facebook a {
	background: #3b5a9a !important;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #0073b2 !important;
}

.social-icons.social-icons-icon-light li a i {
	color: #FFF;
}

.social-icons.social-icons-icon-light.social-icons-clean li a i {
	color: #FFF !important;
}

.social-icons.social-icons-big li a {
	height: 48px;
	line-height: 50px;
	width: 48px;
}

@media (max-width: 400px) {
	.social-icons.social-icons-big li a {
		height: 38px;
		line-height: 40px;
		width: 38px;
	}
}

.social-icons.social-icons-opacity-light li a {
	background: rgba(255, 255, 255, 0.04);
}

.social-icons:not(.social-icons-opacity-light):not(.social-icons-transparent):not(.social-icons-clean):not(.social-icons-clean-with-border):not(.social-icons-dark):not(.social-icons-dark-2):not(.custom-social-icons) li {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.social-icons:not(.social-icons-opacity-light):not(.social-icons-transparent):not(.social-icons-clean):not(.social-icons-clean-with-border):not(.social-icons-dark):not(.social-icons-dark-2):not(.custom-social-icons) li a {
	background: #FFF;
}

/* Sort Source Wrapper */

/* Sort Source */

/* Sort Source Style 2 */

/* Sort Source Style 3 */

/* Sort Destination */

/* Sort Loading */

/* Responsive */

/* Clip SVG */

/* SVG Colors */



/* Thumb Info */
.thumb-info {
	display: block;
	position: relative;
	text-decoration: none;
	max-width: 100%;
	background-color: #FFF;
	border-radius: 4px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.thumb-info .thumb-info-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	border-radius: 4px;
	margin: 0;
	overflow: hidden;
	display: block;
	position: relative;
}

.thumb-info .thumb-info-wrapper:after {
	content: "";
	background: rgba(33, 37, 41, 0.8);
	transition: all 0.3s;
	border-radius: 4px;
	bottom: -4px;
	color: #FFF;
	left: -4px;
	position: absolute;
	right: -4px;
	top: -4px;
	display: block;
	opacity: 0;
	z-index: 1;
}

.thumb-info .thumb-info-inner {
	transition: all 0.3s;
	display: block;
}

.thumb-info .thumb-info-title {
	transition: all 0.3s;
	background: rgba(33, 37, 41, 0.8);
	color: #FFF;
	font-weight: 600;
	left: 0;
	letter-spacing: -.05em;
	position: absolute;
	z-index: 2;
	max-width: 90%;
	font-size: 17px;
	padding: 13px 21px 2px;
	bottom: 13%;
}

.thumb-info .thumb-info-type {
	background-color: #CCC;
	border-radius: 2px;
	display: inline-block;
	float: left;
	font-size: 0.6em;
	font-weight: 600;
	letter-spacing: 0;
	margin: 8px -2px -15px 0px;
	padding: 2px 12px;
	text-transform: uppercase;
	z-index: 2;
	line-height: 2.3;
}

.thumb-info img {
	transition: all 0.3s ease;
	border-radius: 3px;
	position: relative;
	width: 100%;
}

.thumb-info:hover .thumb-info-wrapper:after {
	opacity: 1;
}

.thumb-info:hover .thumb-info-title {
	background: rgba(33, 37, 41, 0.9);
}

.thumb-info:hover img {
	transform: scale(1.1, 1.1);
}

.thumb-info.thumb-info-lighten .thumb-info-wrapper:after {
	background: rgba(23, 23, 23, 0.25);
}

.thumb-info.thumb-info-bottom-info .thumb-info-title {
	background: #FFF;
	left: 0;
	width: 100%;
	max-width: 100%;
	transition: transform .2s ease-out, opacity .2s ease-out;
	transform: translate3d(0, 100%, 0);
	top: auto;
	bottom: 0;
	opacity: 0;
	padding: 15px;
	text-shadow: none;
	color: #777;
}

.thumb-info.thumb-info-bottom-info .thumb-info-type {
	float: none;
	background: none;
	padding: 0;
	margin: 0;
}

.thumb-info.thumb-info-bottom-info:hover .thumb-info-title {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.thumb-info.thumb-info-bottom-info:hover img {
	transform: scale(1.1);
}

.thumb-info.thumb-info-bottom-info-dark .thumb-info-title {
	background: #212529;
	color: #FFF;
}

.thumb-info.thumb-info-bottom-info-dark-linear .thumb-info-title {
	background: linear-gradient(to top, rgba(33, 37, 41, 0.8) 0, transparent 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.thumb-info.thumb-info-no-borders, .thumb-info.thumb-info-no-borders img {
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.thumb-info.thumb-info-no-borders .thumb-info-wrapper {
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.thumb-info.thumb-info-no-borders .thumb-info-wrapper:after {
	border-radius: 0;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded img,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded .thumb-info-wrapper,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded .thumb-info-wrapper:after {
	border-radius: 4px;
}

/* Thumb Info Ribbon */

/* Thumb Info - Full Width */

/* Thumb Info Caption	*/

/* Thumb Info Side Image	*/

/* Thumb Info Social Icons */

/* Thumb Info Floating Caption */

/* Responsive */
@media (max-width: 991px) {
	.thumb-info .thumb-info-title {
		font-size: 14px;
	}



/* Paragraphs */
p {
	color: #777;
	line-height: 26px;
	margin: 0 0 20px;
}

p.lead {
	line-height: 28.8px;
	line-height: 1.8rem;
}

/* Lead */
.lead {
	letter-spacing: -.05em;
	font-size: 19.2px;
	font-size: 1.2rem;
}

/* Links */
a, a:hover, a:focus {
	color: #630d0e;
    font-size: 13px;
    font-weight: bold;
}
}