/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	9.5.0
*/
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

ol, ul {
    padding-left: 0rem !important;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-display: swap;
}

html {
    direction: ltr;
    overflow-x: hidden;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FFF;
    color: #777;
    font-family: Poppins !important;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

body a {
    outline: none !important;
}

.body {
    background-color: #FFF;
}

a {
    text-decoration: none;
}

a:not(.btn):hover {
    text-decoration: underline;
}

li {
    line-height: 24px;
}

/* Responsive */
@media (max-width: 575px) {
    body {
        font-size: 13px;
    }
}

/* Envato Frame */

/* Header */
#header {
    position: relative;
    z-index: 1030;
}

#header .header-body {
    display: flex;
    flex-direction: column;
    background: #FFF;
    transition: min-height 0.3s ease;
    width: 100%;
    border-top: 3px solid #EDEDED;
    border-bottom: 1px solid transparent;
    z-index: 1001;
}

#header .header-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: ease height 300ms;
}

#header .header-container.header-container-height-sm {
    height: 100px;
}

#header .container {
    position: relative;
}

@media (max-width: 767px) {
    #header .container {
        width: 100%;
    }
}

#header .header-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    max-height: 100%;
}

#header .header-column {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
}

#header .header-column .header-row {
    justify-content: inherit;
}

#header .header-top {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    min-height: 47px;
}

#header .header-top.header-top-borders {
    border-bottom-width: 1px;
}

#header .header-top.header-top-borders .nav-item-borders {
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 12px;
    padding-right: 12px;
}

#header .header-top.header-top-borders .nav-item-borders:first-child {
    padding-left: 0;
}

#header .header-top.header-top-borders .nav-item-borders:last-child {
    border-right: 0;
}

#header .header-top.header-top-light-2-borders {
    border-bottom-color: rgba(255, 255, 255, 0.06);
}

#header .header-top.header-top-light-2-borders.header-top-borders .nav-item-borders {
    border-right-color: rgba(255, 255, 255, 0.06);
}

#header .header-logo {
    margin: 16px 0;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
}

#header .header-logo img {
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}

#header .header-nav {
    padding: 16px 0;
    padding: 1rem 0;
    min-height: 70px;
}

#header .header-nav-top {
    display: flex;
    align-self: stretch;
    align-items: center;
}

#header .header-nav-top .nav > li > a {
    color: #fff;
    font-size: 1em;
    padding: 6px 10px;
    display: inline-block;
    letter-spacing: -0.5px;
}

#header .header-nav-top .nav > li > a [class*="fa-"] {
    margin-right: 3px;
    font-size: 0.8em;
    position: relative;
}

#header .header-nav-top .nav > li > a {
    text-decoration: none;
}

#header .header-nav-top .nav > li > a:hover {
    background: transparent;
}

@media (max-width: 575px) {
    #header .header-nav-top .nav > li:not(.d-none) {
        margin-left: 0;
        padding-left: 0;
    }
}

#header .header-nav-top .nav > li.nav-item:not(.dropdown) > a [class*="fa-"] {
    left: -1px;
    top: -1px;
}

#header .header-btn-collapse-nav {
    background: #CCC;
    color: #FFF;
    display: none;
    float: right;
    margin: 0 0 0 16px;
    margin: 0 0 0 1rem;
}

html #header.header-transparent {
    min-height: 0 !important;
    width: 100%;
    position: absolute;
}

html #header.header-transparent .header-body:not(.header-border-bottom) {
    border-bottom: 0;
}

@media (max-width: 991px) {
    html #header.header-transparent .header-body {
        overflow: hidden;
    }

    html #header.header-transparent .header-body.bg-dark .header-nav-main:before {
        background-color: #212529;
    }

    html #header.header-transparent .header-nav-main:before {
        width: calc(100% - 30px);
    }

    html #header.header-transparent .header-nav-main nav {
        padding: 0 30px;
    }
}

/* Header Nav Main */
@media (min-width: 992px) {
    #header .header-nav-main {
        display: flex !important;
        height: auto !important;
    }

    #header .header-nav-main nav {
        display: flex !important;
    }

    #header .header-nav-main nav > ul > li {
        height: 100%;
        align-self: stretch;
        margin-left: 2px;
    }

    #header .header-nav-main nav > ul > li > a {
        display: inline-flex;
        align-items: center;
        white-space: normal;
        border-radius: 4px;
        color: #CCC;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        padding: 0.5rem 1rem;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        text-decoration: none;
    }

    #header .header-nav-main nav > ul > li > a:after {
        display: none;
    }

    #header .header-nav-main nav > ul > li > a:active {
        background-color: transparent;
        text-decoration: none;
        color: #CCC;
    }

    #header .header-nav-main nav > ul > li > a.active {
        background-color: transparent;
    }

    #header .header-nav-main nav > ul > li:hover > a {
        background: #CCC;
        color: #FFF;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
        top: -10000px;
        display: block;
        opacity: 0;
        left: auto;
        border-radius: 0 4px 4px;
        border: 0;
        border-top: 3px solid #CCC;
        box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.07);
        margin: 0;
        min-width: 200px;
        padding: 5px 0;
        text-align: left;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
        border-bottom: 1px solid #f7f7f7;
        color: #777;
        font-size: 0.83em;
        font-weight: 400;
        padding: 6px 18px 6px 18px;
        position: relative;
        text-transform: none;
        text-decoration: none;
        letter-spacing: -0.5px;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a:hover, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a:focus, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a:active {
        background-color: transparent;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li:hover > a, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li:focus > a, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li:active > a {
        background-color: #f8f9fa;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li:last-child a {
        border-bottom: 0;
    }

    #header .header-nav-main nav > ul > li.dropdown:hover > a {
        border-radius: 4px 4px 0 0;
        position: relative;
    }

    #header .header-nav-main nav > ul > li.dropdown:hover > a:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        border-bottom: 5px solid #CCC;
    }

    #header .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
        top: auto;
        display: block;
        opacity: 1;
    }

    #header .header-nav-main.header-nav-main-square nav > ul > li > a {
        border-radius: 0 !important;
    }

    #header .header-nav-main.header-nav-main-square nav > ul > li.dropdown .dropdown-menu {
        border-radius: 0 !important;
    }

    #header .header-nav-main.header-nav-main-dropdown-no-borders nav > ul > li.dropdown .dropdown-menu {
        border-radius: 4px;
    }

    #header .header-nav-main.header-nav-main-dropdown-no-borders nav > ul > li.dropdown .dropdown-menu:not(.border-top) {
        border: 0 !important;
    }
}

@media (min-width: 992px) {

    #header .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: stretch;
    }

    #header .header-nav.header-nav-stripe nav > ul:not(:hover) > li > a.active {
        color: #FFF !important;
    }

    #header .header-nav.header-nav-links {
        padding: 0;
    }

    #header .header-nav.header-nav-links .header-nav-main {
        align-self: stretch;
        min-height: 0;
        margin-top: 0;
    }

    #header .header-nav.header-nav-links nav > ul > li > a, #header .header-nav.header-nav-links nav > ul > li:hover > a {
        position: relative;
        background: transparent !important;
        padding: 0 .9rem;
        margin: 1px 0 0;
        min-height: 60px;
        height: 100%;
    }

    #header .header-nav.header-nav-links nav > ul > li:hover > a:before {
        opacity: 1;
    }

    #header .header-nav.header-nav-links nav > ul > li > a.active {
        background: transparent;
    }

    #header .header-nav.header-nav-links nav > ul > li > a.active:before {
        opacity: 1;
    }

    #header .header-nav.header-nav-links nav > ul > li.dropdown > a:before {
        border-bottom: 0;
    }

    #header .header-nav.header-nav-links nav > ul > li.dropdown:hover > .dropdown-menu {
        margin-top: 0;
    }

    #header .header-nav.header-nav-links.header-nav-light-text nav > ul > li > a {
        color: #FFF;
    }

    #header .header-nav.header-nav-line.header-nav-bottom-line.header-nav-bottom-line-active-text-light nav > ul:not(:hover) li > a.active {
        color: #FFF !important;
    }

    #header .header-nav.header-nav-line.header-nav-bottom-line.header-nav-bottom-line-active-text-dark nav > ul:not(:hover) li > a.active {
        color: #444 !important;
    }

    #header .header-nav.header-nav-force-light-text:not(.header-nav-force-light-text-active-skin-color) .header-nav-main nav > ul:not(:hover) > li > a.active, #header .header-nav.header-nav-force-light-text:not(.header-nav-force-light-text-active-skin-color) .header-nav-main nav > ul:not(:hover) > li .wrapper-items-cloned > a.active {
        color: #333 !important;
    }

    #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown > a:before {
        border-bottom: 0;
    }

    #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown li a {
        border-bottom-color: #2a2a2a;
    }

    #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown .dropdown-menu {
        background: #1e1e1e;
        margin-top: 0;
    }

    #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown .dropdown-menu > li > a {
        color: #adadad;
    }

    #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown .dropdown-menu > li:hover > a, #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown .dropdown-menu > li:focus > a, #header .header-nav.header-nav-dropdowns-dark nav > ul > li.dropdown .dropdown-menu > li:active > a {
        background: #282828;
        color: #FFF;
    }
}

/* Header Arrows */

/* Header Nav Main Full Width Mega Menu */

/* Header Nav Main Mega Menu Bg Hover*/

/* Header Nav Main Dark Text */

/* Header Nav Main Colors */

/* Header Nav Main Dark Text */

/* Header Nav Main Stretch */

/* Header Narrow */

/* Header Nav Vertical */

/* Header Floating */

@media (min-width: 992px) {
    #header .header-nav-main-effect-2 nav > ul > li.dropdown .dropdown-menu {
        transition: opacity .2s ease-out;
        opacity: 0;
    }

    #header .header-nav-main-effect-2 nav > ul > li.dropdown:hover > .dropdown-menu {
        opacity: 1;
    }
}

/* Header Nav Main Mobile */
@media (max-width: 991px) {
    #header .header-nav-main {
        position: absolute;
        background: transparent;
        width: 100%;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    #header .header-nav-main:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: #FFF;
        z-index: -1;
        transform: translateX(-50%);
    }

    #header .header-nav-main nav {
        max-height: 50vh;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 15px;
        transition: ease all 500ms;
    }

    #header .header-nav-main nav::-webkit-scrollbar {
        width: 5px;
    }

    #header .header-nav-main nav::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: rgba(204, 204, 204, 0.5);
    }

    #header .header-nav-main nav > ul {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
    }

    #header .header-nav-main nav > ul li {
        border-bottom: 1px solid #e8e8e8;
        clear: both;
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    #header .header-nav-main nav > ul li a {
        font-size: 13px;
        font-style: normal;
        line-height: 20px;
        padding: 7px 8px;
        margin: 1px 0;
        border-radius: 4px;
        text-align: left;
    }

    #header .header-nav-main nav > ul li a.dropdown-toggle {
        position: relative;
    }

    #header .header-nav-main nav > ul li a.dropdown-toggle:after {
        content: none;
    }

    #header .header-nav-main nav > ul li a:active {
        background-color: #f8f9fa;
        color: inherit;
    }

    #header .header-nav-main nav > ul li.dropdown .dropdown-menu {
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 13px;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        clear: both;
        display: none;
        float: none;
        position: static;
    }

    #header .header-nav-main nav > ul li:last-child {
        border-bottom: 0;
    }

    #header .header-nav-main nav > ul > li > a {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 1px;
        margin-bottom: 1px;
        color: #CCC;
    }

    #header .header-nav-main nav > ul > li > a:active {
        color: #CCC;
    }

    #header .header-nav-main nav > ul > li > a.active {
        color: #FFF !important;
        background: #CCC;
    }

    #header .header-nav-main nav > ul > li > a.active:focus, #header .header-nav-main nav > ul > li > a.active:hover {
        color: #FFF;
        background: #CCC;
    }

    #header .header-nav-main.header-nav-main-square nav > ul > li a {
        border-radius: 0 !important;
    }

    #header .header-btn-collapse-nav {
        outline: 0;
        display: block;
        position: relative;
        z-index: 1;
    }

    #header .header-nav.header-nav-links {
        min-height: 70px;
    }

    #header .header-nav.header-nav-dropdowns-dark {
        min-height: 70px;
    }
}

/* Header Nav Main Mobile Dark */
@media (max-width: 991px) {
    #header .header-nav-main.header-nav-main-mobile-dark:before {
        background-color: #212529;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a {
        color: #dedede;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
        color: #FFF;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li .dropdown-menu > li a {
        color: #969696;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul li {
        border-bottom: 1px solid #3e3e3e;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul li:last-child {
        border-bottom: 0;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:hover, #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:focus, #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:active {
        background-color: #2b2b2b;
    }
}

/* Header Nav Main Dark Text */

/* Header Nav Vertical */

/* Side Header Hamburguer Sidebar */

/* Responsive */
@media (min-width: 992px) {
    #header .header-body:not(.h-100) {
        height: auto !important;
    }
}

@media (max-width: 991px) {
    #header .header-logo img {
        z-index: 1;
    }

    #header .header-nav {
        display: flex;
        align-items: center;
    }
}

/* Mega Menu (Signin/SignUp) */

/* Responsive */

/* Page Header */

/* Clearfix */

/* Position */

/* Box Shadow */
.box-shadow-none {
    box-shadow: none !important;
}

/* Flex */

/* Background No Repeat */

/* Background Size Cover */

/* Background Position Center */

/* Background Clip Text */

/* Background Scales Overlay */

/* Background Transparent */
.bg-transparent {
    background: transparent !important;
}

/* Background White and Black */

/* Inverted */

/* Paddings and Margins */
.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

@media (min-width: 992px) {
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
}

/* Padding */

/* Margin */

/* Padding */

/* Margin */

.mb-4-5 {
    margin-bottom: 20px !important;
    margin-bottom: 1.25rem !important;
}

/* Padding */

.px-5-5 {
    padding-left: 36px !important;
    padding-left: 2.25rem !important;
    padding-right: 36px !important;
    padding-right: 2.25rem !important;
}

.py-5-5 {
    padding-top: 36px !important;
    padding-top: 2.25rem !important;
    padding-bottom: 36px !important;
    padding-bottom: 2.25rem !important;
}

/* Margin */
.mt-5-5 {
    margin-top: 36px !important;
    margin-top: 2.25rem !important;
}

.mb-5-5 {
    margin-bottom: 36px !important;
    margin-bottom: 2.25rem !important;
}

@media (min-width: 576px) {
    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */
}

@media (min-width: 768px) {
    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */
}

@media (min-width: 992px) {
    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */
}

@media (min-width: 1200px) {
    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */

    /* Padding */

    /* Margin */
}

/* Before / After */

/* Letter Spacing */

.positive-ls-2 {
    letter-spacing: 2px !important;
}

/* Cursor */

/* Pointer Events */

/* Font Size */

.text-1 {
    font-size: .8em !important;
}

.text-2 {
    font-size: .9em !important;
}

.text-3 {
    font-size: 1em !important;
}

.text-3-5 {
    font-size: 1.1em !important;
}

.text-4 {
    font-size: 1.2em !important;
}

.text-5 {
    font-size: 1.50em !important;
}

.text-7 {
    font-size: 2em !important;
}

.text-8 {
    font-size: 2.30em !important;
}

.text-9 {
    font-size: 2.50em !important;
}

.text-10 {
    font-size: 2.75em !important;
}

.text-12 {
    font-size: 3.5em !important;
}

@media (min-width: 576px) {

    .text-sm-12 {
        font-size: 3.5em !important;
    }
}

@media (min-width: 768px) {

    .text-md-14 {
        font-size: 4.5em !important;
    }
}

@media (min-width: 992px) {

    .text-lg-19 {
        font-size: 6.33em !important;
    }
}

/* Line Height */

.line-height-1 {
    line-height: 1 !important;
}

.line-height-3 {
    line-height: 1.3 !important;
}

/* Opacity */

.opacity-6 {
    opacity: 0.6 !important;
}

.opacity-8 {
    opacity: 0.8 !important;
}

/* Scale */

/* Columms (useful for lists) */

/* Top / Bottom / Left / Right */

/* Transforms */

/* Outline */

/* Text Decoration */
.text-decoration-none {
    text-decoration: none !important;
}

/* Text Alignment */

/* Text Transform */
.text-uppercase {
    text-transform: uppercase !important;
}

.text-transform-none {
    text-transform: none !important;
}

/* Transform */

/* States */

/* Overflow */
.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

/* Z-Index */
.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

/* Colors */
.text-dark {
    color: #212529 !important;
}

/* Text */

/* Grey */

/* Background Gradient Animated */

/* Dark */

/* Star Rating */

/* Weights */
.font-weight-thin {
    font-weight: 100 !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

/* #Footer */
#footer {
    background: #212529;
    border-top: 4px solid #212529;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both;
}

#footer h5 {
    color: #FFF;
}

#footer a:not(.btn):not(.no-footer-css) {
    color: #777;
    transition: all 0.1s ease-in-out;
}

#footer a:not(.btn):not(.no-footer-css):hover {
    text-decoration: none;
    color: #FFF;
}

#footer a:not(.btn):not(.no-footer-css):focus, #footer a:not(.btn):not(.no-footer-css):active {
    color: #CCC;
}

#footer .footer-nav nav {
    display: flex;
}

#footer .footer-nav nav > ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#footer .footer-nav nav > ul > li {
    position: relative;
    height: 100%;
    align-self: stretch;
}

#footer .footer-nav nav > ul > li > a {
    position: relative;
    background: transparent;
    padding: 0 14.4px;
    padding: 0 .9rem;
    margin: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    white-space: normal;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
}

#footer .footer-nav.footer-nav-links nav > ul > li:first-child > a {
    padding-left: 0;
}

#footer .footer-nav.footer-nav-links nav > ul > li:first-child > a:before {
    left: 0;
}

@media (min-width: 768px) {
    #footer .footer-nav.footer-nav-bottom-line nav > ul > li > a:before {
        content: "";
        position: absolute;
        width: auto;
        height: 3px;
        top: 50%;
        left: .85rem;
        right: .85rem;
        margin-top: 15px;
        transform: translate3d(0, -50%, 0);
    }
}

@media (max-width: 991px) {
    #footer .footer-nav {
        width: 100%;
    }

    #footer .footer-nav nav {
        text-align: center;
    }

    #footer .footer-nav nav > ul {
        width: 100%;
    }

    #footer .footer-nav nav > ul > li > a {
        text-align: center;
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    #footer .footer-nav {
        width: 100%;
    }

    #footer .footer-nav nav {
        text-align: center;
    }

    #footer .footer-nav nav > ul {
        width: 100%;
    }

    #footer .footer-nav nav > ul > li {
        height: auto;
        width: 100%;
    }

    #footer .footer-nav nav > ul > li > a {
        text-align: center;
        padding: 1em 0;
    }
}

#footer .logo img {
    position: relative;
    top: 2px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
}

#footer .footer-copyright {
    background: #1c2023;
}

#footer .footer-copyright p {
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#footer .footer-copyright.footer-copyright-style-2 {
    background: #212529;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-top-border {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}
