::-moz-selection {
    color: #FFF;
    background: #0169fe;
}

::selection {
    color: #FFF;
    background: #0169fe;
}

:root {
    --primary: #0169fe;
    --secondary: #0088cc;
    --tertiary: #2baab1;
    --quaternary: #383f48;
}

a {
    color: #630d0e;
}

a:hover {
    color: #8e2e30;
}

a:focus {
    color: #1a78fe;
}

a:active {
    color: #015ee5;
}

html .text-color-primary, html .text-primary {
    color: #91201f !important;
}

html .text-color-hover-primary:hover {
    color: #0169fe !important;
}

html .text-color-dark, html .text-dark {
    color: #212529 !important;
}

html .text-color-light {
    color: #FFF !important;
}

html .text-color-hover-light:hover {
    color: #FFF !important;
}

html .bg-dark {
    background-color: rgb(33, 37, 41,.8) !important;
}

html .bg-light {
    background-color: #FFF !important;
}

.bg-gradient-to-bottom {
    background-color: rgb(145, 32, 31, .85) !important;
    /*background-image: linear-gradient(to bottom, #640e0e 0%, #721714 100%) !important;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0169fe', endColorstr='#0088cc', GradientType=1);
}

/* Color Transition */

html .btn-dark {
    background-color: #620e0e;
    border-color: #212529 #212529 #0a0c0d;
    color: #FFF;
    --color: #212529;
    --hover: #32383e;
    --disabled: #212529;
    --active: #101214;
}

html .btn-dark:hover {
    background-color: #32383e;
    border-color: #383f45 #383f45 #212529;
    color: #FFF;
}

html .btn-dark:focus {
    background-color: #101214;
    border-color: #0a0c0d #0a0c0d #000000;
    color: #FFF;
    box-shadow: 0 0 0 3px rgba(33, 37, 41, 0.5);
}

html .btn-dark:disabled {
    background-color: #212529;
    border-color: #212529 #212529 #0a0c0d;
}

html .btn-dark:active {
    background-color: #101214 !important;
    background-image: none !important;
    border-color: #0a0c0d #0a0c0d #000000 !important;
}

html .btn-light {
    background-color: #FFF;
    border-color: #FFF #FFF #e6e6e6;
    color: #777;
    --color: #FFF;
    --hover: #ffffff;
    --disabled: #FFF;
    --active: #ececec;
}

html .btn-light:hover {
    background-color: #ffffff;
    border-color: #ffffff #ffffff #FFF;
    color: #777;
}

html .btn-light:focus {
    background-color: #ececec;
    border-color: #e6e6e6 #e6e6e6 #cccccc;
    color: #777;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

html .btn-light:disabled {
    background-color: #FFF;
    border-color: #FFF #FFF #e6e6e6;
}

html .btn-light:active {
    background-color: #ececec !important;
    background-image: none !important;
    border-color: #e6e6e6 #e6e6e6 #cccccc !important;
}

html section.section-dark {
    background-color: #212529 !important;
    border-color: #16181b !important;
}

html section.section-dark h2 {
    color: #FFF;
}

html section.section-dark p {
    color: #e6e6e6;
}

html .bg-color-light-scale-1 {
    background-color: #f7f7f7 !important;
}

.thumb-info .thumb-info-type {
    background-color: #0169fe;
}

#header .header-btn-collapse-nav {
    background: #8e2e30;
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        color: #0169fe;
    }

    #header .header-nav-main nav > ul > li:hover > a {
        background: #0169fe;
    }

    #header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
        border-top-color: #0169fe;
    }

    #header .header-nav-main nav > ul > li.dropdown:hover > a:before {
        border-bottom-color: #0169fe;
    }

    #header .header-nav-main nav > ul:not(:hover) > li > a.active {
        background-color: #0169fe;
        color: #FFF;
    }

    #header .header-nav.header-nav-stripe nav > ul:not(:hover) > li > a.active {
        background-color: #0169fe;
    }

    #header .header-nav.header-nav-links nav > ul li:hover > a {
        color: #ecd218;
    }

    #header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
        color: #c5a220;
    }

    #header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active {
        color: #0169fe;
    }

    #header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before {
        background: #0169fe;
    }

    #header .header-nav-main.header-nav-main-slide nav > ul:not(:hover) > li > span > a.active {
        color: #0169fe;
    }
}

@media (min-width: 992px) {

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
        background: #0169fe;
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
        color: #0169fe;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active:before {
        background-color: #0169fe;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-primary > a.active {
        color: #0169fe;
    }

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-secondary > a.active {
        background: #0088cc;
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-secondary > a.active {
        color: #0088cc;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-secondary > a.active:before {
        background-color: #0088cc;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-secondary > a.active {
        color: #0088cc;
    }

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-tertiary > a.active {
        background: #2baab1;
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-tertiary > a.active {
        color: #2baab1;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-tertiary > a.active:before {
        background-color: #2baab1;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-tertiary > a.active {
        color: #2baab1;
    }

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-quaternary > a.active {
        background: #383f48;
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-quaternary > a.active {
        color: #383f48;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-quaternary > a.active:before {
        background-color: #383f48;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-quaternary > a.active {
        color: #383f48;
    }

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-dark > a.active {
        background: #212529;
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-dark > a.active {
        color: #212529;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-dark > a.active:before {
        background-color: #212529;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-dark > a.active {
        color: #212529;
    }

    html #header .header-nav:not(.header-nav-line):not(.header-nav-links) .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-light > a.active {
        background: #FFF;
        color: #777;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-light > a.active {
        color: #FFF;
    }

    html #header .header-nav-line .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-light > a.active:before {
        background-color: #FFF;
    }

    html #header .header-nav-links .header-nav-main nav > ul:not(:hover) > li.dropdown-full-color.dropdown-light > a.active {
        color: #FFF;
    }
}

@media (min-width: 992px) {

    html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul:not(:hover) > li > a.active, html #header .header-nav-force-light-text-active-skin-color .header-nav-main nav > ul:not(:hover) > li .wrapper-items-cloned > a.active {
        color: #0169fe !important;
    }
}

@media (max-width: 991px) {

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
        background: #66150c;
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:focus, #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:hover {
        background: #0169fe;
    }
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active {
    color: #620e0e !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active:before {
    background: #620e0e !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a {
    color: #d8c013 !important;
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a:before {
    background: #39382f !important;
}
